body {
background-image: url("media/black-and-blue.jpg");
    
}

.card {

    background-color: lightgrey;
    margin: 10px;
}

#contactme  {

    margin-top: 20px;
}

#portTitle {

    color: whitesmoke;
}

label {

    /* color: whitesmoke; */
}